@using System.Linq
@using System.Threading.Tasks
@using BookingApp.Shared
@using Microsoft.AspNetCore.Components

<div class="alert @_reservationStateStyle.TimeSlotContainerCustomization d-flex flex-row justify-content-between p-0 my-2 mx-0 py-0 px-0 my-2">
    <div class="d-flex flex-column px-1" style="cursor: pointer" @onclick="() => Session.ToggleBookingState()">
        <div class="row">
            <div class="col"><strong>@Session.StartTime</strong></div>
        </div>
        <div class="row mt-auto">
            <div class="col">@Session.EndTime</div>
        </div>
    </div>
    <div class="px-1 flex-fill" style="cursor: pointer" @onclick="() => Session.ToggleBookingState()">
        @if (DisplayTeamName)
        {<span class="mx-2">@Session.TeamName</span>}
    </div>
    <div>
    @if (_showInfoBtn)
    {
        <button class="alert border-0 m-1 pl-0 px-2 py-2 h5 @_reservationStateStyle.ToggleButtonCustomization" @onclick="() => Session.ToggleReservationsView()"></button>
    }
    </div>
</div>

@code {
    private bool _showInfoBtn;
   
    [Parameter]
    public SessionBooking.SessionUiItem Session { get; set; }
    
    [Parameter]
    public string UserId { get; set; }
    
    [CascadingParameter]
    public bool DisplayTeamName { get; set; }
    private ReservationStateStyle _reservationStateStyle;

  protected override Task OnParametersSetAsync()
  {
      var reservations = Session.Reservations.ToList();
      var state = new ReservationStateSimplifier(reservations, Session.Size);
      _showInfoBtn = state.GetSessionState() != ReservationStateSimplifier.SessionReservationState.Empty;
      _reservationStateStyle = ReservationStateStyle.Create(state.GetUserState(UserId), state.GetSessionState(), Session.Disabled);
      return Task.CompletedTask;
    }


    private class ReservationStateStyle
    {
        public static ReservationStateStyle Create(ReservationStateSimplifier.UserSessionReservationState userState, ReservationStateSimplifier.SessionReservationState sessionState, bool disabled)
        {
            var buttonStyle = "bi-people";
            switch (sessionState)
            {
                case ReservationStateSimplifier.SessionReservationState.Full:
                    buttonStyle = "bi-people-fill";
                    break;
                case ReservationStateSimplifier.SessionReservationState.Queue:
                    buttonStyle = "bi-hourglass-split";
                    break;
            }
            var containerStyle = "border";
            if (disabled)
            {
                containerStyle = "alert-dark";
                buttonStyle += " alert-dark";

            }
            else
            {
                switch (userState)
                {
                    case ReservationStateSimplifier.UserSessionReservationState.Joined:
                        containerStyle = "alert-success border-success";
                        buttonStyle += " alert-success";
                        break;
                    case ReservationStateSimplifier.UserSessionReservationState.InQueue:
                        containerStyle = "alert-warning border-warning";
                        buttonStyle += " alert-warning";
                        break;
                    case ReservationStateSimplifier.UserSessionReservationState.None:
                        buttonStyle += " alert-light";
                        break;
                }
            }

            
            return new()
            {
                TimeSlotContainerCustomization = containerStyle,
                ToggleButtonCustomization = buttonStyle,
            };
        }
        public string TimeSlotContainerCustomization { get; init; }
        public string ToggleButtonCustomization { get; init; }
    }

}