@inject BookingService BookingService
@inject ScheduleService ScheduleService
@inject TeamService TeamService
@attribute [Authorize]
@implements IDisposable
@using System.Globalization

<h2>@Title</h2>


@if (sessions == null)
{
<p>Loading sessions..</p>
}
else
{
<table style="min-width:400px;">
    <tr>
        <th colspan="4" class="text-center">@Date.ToString("MMMM", CultureInfo.InvariantCulture)</th>
    </tr>
    <tr>
        <th>@if (previousDayUrl != null)
                {<a href="@previousDayUrl">earlier</a>}
                else
                {<span class="text-muted">earlier</span>}</th>
        <th colspan="2" class="text-center">@Date.Day</th>
        <th class="text-right"><a href="@nextDayUrl">later</a></th>
    </tr>
    <tr>
        <th colspan="4" class="text-center">@Date.DayOfWeek</th>
    </tr>

    @foreach (var session in sessions)
        {
    <tr>
        <td>@session.StartTime</td>
        <td>@session.TeamName</td>
        <td class="text-center"><button @onclick="()=>ToggleReservationsViewFor(session)">@session.Available/@session.Size</button></td>
        <td><button disabled=@session.Disabled @onclick="()=>session.ToggleBookingState()">@session.BookingStateToggleText</button></td>
    </tr>
    @if (session.Equals(selectedSession))
            {
    <tr>
        <td colspan="4"><SessionInfo userIds=session.Reservations Size=session.Size /></td>
    </tr>
    }
    }
</table>
}


@code {
    
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public ISessionCalendar Calendar { get; set; }

    [Parameter]
    public string SessionPath { get; set; }

    private string nextDayUrl = null;
    private string previousDayUrl = null;
    private Dictionary<DateTime, string> ownReservations = new Dictionary<DateTime, string>();
    private IEnumerable<BookedTimeSlot> reservations = null;

    [Parameter]
    public DateTime Date { get; set; }


    private IEnumerable<SessionUiItem> sessions = null;

    private SessionUiItem selectedSession = null;

    private void ToggleReservationsViewFor(SessionUiItem item)
    {
        if (item.Equals(selectedSession))
            selectedSession = null;
        else
            selectedSession = item;
        StateHasChanged();
    }

    public delegate Task BookingStateToggler();

    class SessionUiItem
    {
        public int Available { get; set; }
        public int Size { get; set; }
        public bool Disabled {get;set;} = false;
        public IEnumerable<string> Reservations;
        public string StartTime { get; set; }
        public string TeamName;
        public BookingStateToggler ToggleBookingState;
        public string BookingStateToggleText { get; set; }
        public const string BookingStateOnText = "Cancel booking";
        public const string BookingStateOffText = "Book";
        public Object Generator;

        public bool Equals(SessionUiItem session)
        {
            return (session != null && session.TeamName == TeamName && session.StartTime == StartTime);
        }
    }


    private static DateTime RoundToDays(DateTime date)
    {
        return new DateTime(date.Year, date.Month, date.Day, 0, 0, 0, date.Kind);
    }

    private DateTime SanitizeSessionDate(DateTime date)
    {
        var res = RoundToDays(date);
        if (res < DateTime.Today)
            res = DateTime.Today;
        return res;
    }
    
    protected override async Task OnParametersSetAsync()
    {
        selectedSession = null;
        var sessionNavigator = new SessionNavigator(Calendar, SessionPath);
        var sessionResolver = new SessionResolver(ScheduleService, TeamService);
        
        var sessionsForDate =  Calendar.DailySessions(SanitizeSessionDate(Date)).ToList();
        Date = RoundToDays(sessionsForDate.First().StartTime);
        
        nextDayUrl = sessionNavigator.GetNextSessionDayUrl(Date);
        previousDayUrl = sessionNavigator.GetPreviousSessionDayUrl(Date);

        reservations = await BookingService.GetAllReservations(Date, TimeSpan.FromDays(1));
        var sessionData = sessionResolver.ResolveSessions(sessionsForDate);

        sessions = sessionData.Where(e => e.TimeSlot.StartTime +e.TimeSlot.Duration >= DateTime.Now).Select(e =>
        {
            var reservationsForSession = GetReservations(e.ToSession());
            var isBooked = false;
            if (ownReservations.TryGetValue(e.TimeSlot.StartTime, out var teamId))
                if (teamId == e.team.Id)
                    isBooked = true;

            BookingStateToggler toggleState = async () => await Book(e.ToSession());
            if (isBooked)
                toggleState = async () => await CancelBooking(e.ToSession());
            
            var res = new SessionUiItem
            {
                Available = e.SizeLimit - reservationsForSession.Count(),
                StartTime = e.TimeSlot.StartTime.ToString("HH:mm", CultureInfo.InvariantCulture),
                BookingStateToggleText = isBooked ? SessionUiItem.BookingStateOnText : SessionUiItem.BookingStateOffText,
                ToggleBookingState = toggleState,
                Reservations = reservationsForSession,
                Size = e.SizeLimit,
                Generator = e,
                TeamName = e.team.Name
            };
            if (!isBooked && e.team.Limits.TryGetValue(TeamLimit.ActiveBookings, out var maxBookings))
            {
                res.Disabled = ownReservations.Count(kv => kv.Key > DateTime.Now && kv.Value == e.team.Id) >= maxBookings;
            }
            
            return res;
        });
    }


    protected override async Task OnInitializedAsync()
    {
        var ownBookings = await BookingService.GetLoggedOnUserReservations();
        foreach(var teamBooking in ownBookings)
        {
            ownReservations.Add(teamBooking.StartTime, teamBooking.TeamId);
        }
        BookingService.OnBookingsChanged += this.BookingsChanged;
    }
    
    
    private IEnumerable<string> GetReservations(TeamSession session)
    {
        var res = reservations.Where(reservation => reservation.StartTime == session.StartTime);
        if (!res.Any()) return Enumerable.Empty<string>();
        var teamReservations = res.Select(e => e.TeamReservations).Single();
        if (teamReservations.TryGetValue(session.TeamId, out var reservationsForTeam))
        {
            return reservationsForTeam;
        }
        return Enumerable.Empty<string>();
    }

    private async Task Book(TeamSession sessionToBook)
    {
        await BookingService.MakeTeamReservation(sessionToBook);
        ownReservations[sessionToBook.StartTime] = sessionToBook.TeamId;
    }

    private async Task CancelBooking(TeamSession sessionToBook)
    {
        await BookingService.CancelTeamReservation(sessionToBook);
        ownReservations.Remove(sessionToBook.StartTime);
    }

    private async void BookingsChanged()
    {
        reservations = await BookingService.GetAllReservations(Date, TimeSpan.FromDays(1));
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        BookingService.OnBookingsChanged -= this.BookingsChanged;
    }
    
}
